<% include ./partials/header%>
<% include ./partials/onlinenavbar%>
<form form action="/create" method="post">
<input type='text' placeholder='Title' name='title'>
<input type='text' placeholder='Text' name='body'>
<button type="submit">Post!</button>
</form>
<% include ./partials/footer%>